body {
    margin: 0;
    padding: 0;
    border: 0;
    
    

}

#navigationMenu {
  
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: aliceblue;opacity: .9;
    

}


#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

#nav-list a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 20px;

}



.backgroundImage{
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    filter: brightness(100%) contrast(120%);

}

#content {
    position: relative;
    margin: auto;
    margin-top: 5px;
    
    border-color: black;
    border-style: outset;
    margin-left: 50px;
    width: 90%;
    height: 100%;


}

#heading {
 text-align: center;
 

}

#heading h1 {
    color: aliceblue;
    text-shadow: 2px 2px 4px #1df305;

}


.javaScript {
    position:relative;
    width: 60%;
    height: 400px;

}
.javaScriptImage{
    position: absolute;
    width: 400px;
    height: 300px;
}
.javaScriptText {
    position: absolute;
    text-size-adjust: 26px;
    text-align: left;
    left: 410px;
}